a:link{
    color: greenyellow;
}
a:visited{
    color: red;
}
a:hover{
    color: green;
}
a:active{
    color: darkgreen;
}
p::first-line{
    background-color: aqua;
    font-size: 30px;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90px;
    background-color: red;
}
h1::before{
    content: "hey, ";
}
h1::after{
    content: " is cool"
}