*{
    margin: 0px;
    padding: 0px;
}

.box{
    width: 100px;
    height: 100px;
    margin: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    border: black solid 2px;
    order: flex-end;
    flex-direction: row;

flex-direction: row-reverse;
justify-content: space-around;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: orange;
}

.box3 {
    background-color: yellow;
}

.box4 {
    background-color: green;
}

.box5 {
    background-color: blue;
}

.box6 {
    background-color: indigo;
}

.box7 {
    background-color: violet;
}
.box3{
    background-color: black;
}